<h1>Company Details 
	<%= link_to "Back", companies_path, class: "btn btn-default pull-right" %>
	<% if candidate_signed_in? %>
		<% if current_candidate.email == "#{@company.name.downcase}@gmail.com" %>
			<%= link_to "Edit", edit_company_path(@company) ,class: "btn btn-default pull-right" %>
			<%= link_to "Delete", company_path(@company) , method: :delete, data: { confirm: "Are you sure want to delete?" }, class: "btn btn-default pull-right" %>
			<%= link_to "Add Jobs", new_company_job_path(@company), class: "btn btn-default pull-right" %>
		<% end %>	
	<% end %>	
</h1><hr/>

<div class="col-md-8 col-md-offset-2">
	<p><b> Company Name : </b><%= @company.name %></p>
	<p><b> Company Location : </b><%= @company.location %></p>
	<p><b> Company Website : </b><%= @company.website %></p>
</div>